<div class="modal-header">
  <h4 class="modal-title">Your Cart</h4>
  <button
    type="button"
    class="close"
    aria-label="Close"
    (click)="activeModal.dismiss('Cross click')"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div ngbAutofocus class="modal-body">
  <app-cart-products-table></app-cart-products-table>
</div>
<div class="modal-footer">
  <button
    id="routeToCheckout"
    routerLink="/checkout"
    class="btn btn-success"
    [disabled]="isCheckoutDisabled"
    (click)="activeModal.close('Close click')"
  >
    Go to Checkout
  </button>
  <button
    type="button"
    class="btn btn-outline-dark"
    (click)="activeModal.close('Close click')"
  >
    Close
  </button>
</div>
